<div class="container catalog">

<div class="level">
  <div class="level-left">
  	<nav class="breadcrumb" aria-label="breadcrumbs">
  		<ul>
  			<li><%= link_to 'Configuración', config_path %></li>
  			<li><%= link_to 'Grupos de Investigación', research_groups_path %></li>
  			<li class="is-active"><a>Nuevo</a></li>
  		</ul>
  	</nav>
  </div>
</div>

<%= render 'form', research_group: @research_group %>
