<div class="card project-card" data-url="<%= projects_path(person.shortname) %>/<%= project.id %>/administrar/documentos">
  <div class="project-card-title project-card-title-documentos">Documentos</div>      
  <div class="empty-project-card">
    <div class="project-card-icon"><span class="icon project-card-icon-documentos"><i class="fas fa-file"></i></span></div>
    <div class="empty-project-card-message">Aún no exisiten documentos del proyecto.</div>
  </div>
</div>