<div class="card project-card" data-url="<%= projects_path(person.shortname) %>/<%= project.id %>/administrar/presupuesto">
  <div class="project-card-title project-card-title-presupuesto">Presupuesto</div>
  <div class="empty-project-card">
    <div class="project-card-icon"><span class="icon project-card-icon-informacion "><i class="fas fa-dollar-sign"></i></span></div>
    <div class="empty-project-card-message">Es necesario especificar el número de proyecto interno (<strong>Netmultix</strong>) para poder ver el presupuesto</div>
  </div>
</div> 