<div class="card project-card" data-url="<%= project_project_documents_path(person.shortname, project) %>">
  <div class="project-card-title project-card-title-documentos">Documentos</div>   
  <% documents = project.project_documents.where("parent = 0 AND status = ?", ProjectDocument::ACTIVE) %>
  <% if documents.count <= 0 %>
    <div class="empty-project-card">
      <div class="project-card-icon"><span class="icon project-card-icon-documentos"><i class="fas fa-file"></i></span></div>
      <div class="empty-project-card-message">Aún no exisiten documentos del proyecto.</div>
    </div>
  <% else %> 
    <div class="documents-card-items">
    <% documents.each do |document| %>
      <a class="document-link" href="<%= project_project_document_path(person.shortname, project, document) %>">
        <%= render "project_documents/document_item", document: document, level: 0  %>
      </a>
    <% end %>
    </div>
    <div class="white-gradient"></div>
  <%end %>
</div>