<div class="card project-card" data-url="<%= projects_path(person.shortname) %>/<%= project.id %>/administrar/servicios">
  <div class="project-card-title project-card-title-servicios">Servicios</div>
  <div class="empty-project-card">
    <div class="project-card-icon"><span class="icon project-card-icon-servicios"><i class="fas fa-flask"></i></span></div>
    <div class="empty-project-card-message">Aún no se han realizado servicios de laboratorio para el proyecto.</div>
  </div>      
</div>