<div class="card project-card" data-url="<%= administrar_informacion_project_path(person.shortname, project) %>">
  <div class="project-card-title project-card-title-informacion">Información</div>
  <div class="project-card-content">
    <%= render 'timeline', project: project, person: person  %>
  </div>
  <div class="white-gradient"></div>
</div>