<div class="status-icon">
  <div class="icon <%= project.status_text_class %>"><i class="fas <%= project.status_icon %>" aria-hidden="true"></i></div>
  <% bg = "#{project.status_class.to_s}"
     bg.sub! 'is-', 'has-background-' %>
  <div class="status-label <%= bg %>"><%= project.status_text %></div>
</div>