<span class="status-tag">
  <span class="tags has-addons">
    <span class="tag icon <%= project.status_text_class %>"><i class="fas <%= project.status_icon %>" aria-hidden="true"></i></span>
    <span class="tag <%= project.status_class %>"><%= project.status_text %></span>
  </span>
</span>