<%= render 'project_header', project: @project, person: @person  %>
<div class="product">
  <h1 class="project-title"><%= link_to @project.name, administrar_project_path(@person.shortname, @project) %></h1>
  <%= render 'projects/status_header', project: @project, person: @person  %>
  <%= render 'project_menu', project: @project, person: @person  %>
</div>