<div class="container catalog">
<div class="level">
  <div class="level-left">
  	<nav class="breadcrumb" aria-label="breadcrumbs">
  		<ul>
  			<li><%= link_to 'Revistas', journals_path %></li>
  			<li class="is-active"><a>Editar</a></li>
  		</ul>
  	</nav>
  </div>
</div>

<h1 class="journal-h1"><%= @journal.name %></h1>
<%= render 'form', journal: @journal %>
</div>

