// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  width: 100vw;
  margin: 0px; padding: 0px;
  min-height: 100vh;
}

html {
  background: rgb(252,252,252);
  background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 50%, rgba(255,255,255,1) 100%);
  font-size: 14px;
}

h1 a {
  color: #444;
}


.tabs-content li {
    display: none;
    list-style: none;
}

.tabs-content li.is-active {
    display: block;
}

#login-html {
  margin: 0;
  background: url(asset_path("bg.jpg"));
  background-size: cover;
}

#login-box {
  margin: 0 auto;
  width: 300px;
  border: 1px solid #ddd;
  background: #fff;
  margin-top: 3em;
  padding: 2em;
  text-align: center;
  -webkit-box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.5);
  box-shadow: 4px 4px 9px 1px rgba(0,0,0,0.5);
  img {
    width: 80%;
  }
  span {
    
  }

  h1 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

.navbar {
  padding-bottom: 0 !important;
  height: 50px;
  margin: 0 !important;
}

.navbar-brand {
  padding: 0 1em;
  a:hover {
    background: none !important; 
  }
}

.nav-logo img {
  height: 50px;
}

.navbar-user-img {
  border-radius: 50%;
}

#home {
  padding-top: 2em;
}

.catalog {
  margin-top: 1em;

  nav {
    a {
      color: #000;
    }
    font-weight: bold;
    font-size: 1.2em;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
}


.product {
  margin-top: 1em;
  nav {
    a {
      color: #000;
    }
    font-weight: bold;
    font-size: 1.2em;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    margin: 1em 0 0.5em 0;
  }

  .media {
    padding: 0.5em !important;
  }

  .product-additional {
    h3 {
      font-size: 1em;
      font-weight: 500;
      border-bottom: 1px solid #ddd;
      margin: 0 0 0.5em 0;
    }

    .author-is {
      margin-bottom: 1em;
      border-bottom: 1px dotted #ddd;
      padding-bottom: 1em;
    }
  }

  .product-dates {
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin: 1em 0;
  }

  .abstract {
    font-size: 0.9em;
  }

  .product-status {
    text-align: center;
  }
}


.impact-factor-label {
  font-size: 0.6em;
  text-align: center;
}

.impact-factor-edit-link {
  font-size: 0.6em;
  text-align: center;
}

.impact-factor-value {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.profile-header {
  text-align: left;
  margin-bottom: 1em;
  padding-bottom: 4px;
  border-bottom: 1px solid #eee;
  figure {
    float: left;
  }
}

.profile-sidebar { 
  min-height: 100vh;
  position: relative;
  border-right: 1px solid #eee;
  .menu-label {
    margin: 0 !important;
  }

  .menu {
    font-size: 0.9rem !important;
    margin: 0 !important;
    .active {
      font-weight: bold;
    }
  }
}

.is-narrow.profile-small-sidebar {
  width: 68px;
}

.full-sidebar {
  
}

.profile-small-sidebar {
  display: none;
  position: relative;
  min-height: 100vh;
  border-right: 1px solid #eee;
  color: #bbb;

  figure {
    margin-bottom: 8px;
  }

  .dropdown-menu {
    width: calc(90vw) !important;
    height: calc(50vh) !important;
  }

  .menu-section {
    float: left;
    font-size: 80%;
    width: 16em;
    max-width: 16em;
    padding-left: 1em;
    height: 100%;
  }
}

.show-sidebar-area {
  text-align: center;
  font-size: 20px;
}

#show-sidebar {
  color: #bbb;
}

#hide-sidebar {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #bbb;
}

.profile-workarea {
  min-height: 100vh;
  padding: 1em !important;
  background: #fff;
}

.profile-container {
  height: 100%;
  .columns {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
  } 
}

.hero {
  margin: 0;
}

.hero-body {
  padding: 1em 1.5em !important;
}

.has-padding-1 {
  padding: 1em;
}

.has-padding-2 {
  padding: 2em;
}

.has-padding-3 {
  padding: 3em;
}

.products-header {
  margin: 0 0 1em 0;
  border-bottom: 1px solid #eee;
  padding: 0 0 1em 0;
}

.product-item {
  margin: 1em 0;
  border-bottom: 1px solid #eee;
  padding: 1em 0;
  strong a { 
    color: #000 !important;
  }
}

.container-product-standalone {
  margin-top: 0.5em;  
}

.product-index {
  h2 {
    font-size: 120%;
    font-weight: 500;
  }
}

.product-title {
  font-size: 130% !important;
  font-weight: 500;
}

.product-authors {
  font-size: 90%;
  color: #777;
  text-align: center;
}
.product-extra {
  font-size: 90%;
  color: #777;
  text-align: center;
}

#notification-area {
  margin: 1em;
  width: 30%;
  position:fixed;                  
  top:60px;                          
  right:0;                          
}

.empty-tab, .empty-results {
  color: #999;
  font-size: 90%;
  padding: 3em;
  text-align: center;
}

.participant-ui {
  .select {
    width: 100% !important;
  }
  select {
    width: 100% !important;
  }
  .participant-actions {
    text-align: right;
  }

  .participant-ui-item {
    border-bottom: 1px solid #eee;
    padding: 1em;
  }
}

#activity-log-ui {
  .activity-log-ui-item {
    border-bottom: 1px solid #eee;
    padding: 1em;
  }
}


.acknowledgment-ui {
  .select {
    width: 100% !important;
  }
  select {
    width: 100% !important;
  }
  .participant-actions {
    text-align: right;
  }

  .acknowledgement-ui-item {
    border-bottom: 1px solid #eee;
    padding: 1em;
  }

  .acknowledgment-notes {
    width: 50%;
  }
}


.product-filters {
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #ddd;
}

.product-actions {
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;

  nav {
    font-weight: bold;

    a { color: #333; }
  }

  .button {
    margin-left: 0.5em;
  }
}

.product-tabs {
  margin-top: 2em;
}

.product-file-box {
  select {
    width: 16em;
  }

  .box-control {
    margin-bottom: 1em !important;
    text-align: center;
  }
  .box-actions {
    text-align: center;
    margin: 2em 0 1em 0;
  }
}

#conference-list-select,
#association-list-select,
#journal-list-select {
  height: 15em;
  overflow-y: auto;
}

.modal-card-body {
  margin: 0 !important;
  padding: 0 !important;
  .search-controls {
    padding: 1em;
    border-bottom: 1px solid #ddd;
  } 
}

.conference-list-item,
.association-list-item,
.journal-list-item {
  padding: 1em;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  &:hover {
    background: #d9e7ff;
  }
}

.conference-data,
.association-data,
.journal-data {
  padding-bottom: 1em;
}

.new-conference,
.new-association
.new-journal {
  padding: 1em 1em 3em 1em;
}

.tabs-content {
  li {
    padding: 1em;
  }
}

.profile-head {
  li a {
    font-size: 150%;
  }
}

.experience-ui-item, 
.education-ui-item, 
.topic-ui-item, 
.research-lines-profile, 
.topics-profile {
  margin: 1em;
  strong {
    font-size: 120%;
  }
  p {
    margin-top: 1em;
  }
}

.profile-show {
  h2 {
    font-size: 1.6em;
    font-weight: 500;
    margin: 1em 0 0.5em 0;
  }
}

.actions {
  margin-top: 2em;
}

#topic-form {
  margin-top: 2em !important;
  border-top: 1px solid #ddd;
  padding-top: 1em;
}

#person-research-lines-ui {
  .research-line-department {
    margin-bottom: 3em;
  }
  .research-line-ui-item {
    margin: 1em;
    border-bottom
    strong {
      font-size: 110%;
    }
    p {
      margin-top: 1em;
    }
  }
}

.table-cites {
  width: 100%;
}

.cite-extra {
  font-size: 80%;
}

.table-actions {
  font-size: 80%;
  color: #777 !important;
}

.table-files {
  td {
    border: none !important;
  }
  width: 100%;
  .table-file-icon {
    width: 2em;
  }
  .table-file-name {
    width: 10em;
    white-space: pre;
  }
  .table-file-notes {
    min-width: 50%;
  }
}

.extra-other {
  margin-top: 0.5em;
}

.single-rich {
  trix-editor {
    min-height: 200px !important;
  }
}

.title-input {
  input {
    font-size: 1.5em !important;
    font-weight: bold;
  }
  
}

.white-gradient {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 48px 0;   
  background-image: linear-gradient(to bottom, transparent, white);
}

.field-table {
  td {
    vertical-align: middle;
  }
}

.w1 {
  width: 1px !important;
}

.info-section {
  .info-title {
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }
  .info-content {
    margin-bottom: 2em;
  }
}

.base-icon {
  display: block;
  position: relative;
  border: 1px solid #eee;
  font-size: 50%;
  text-transform: uppercase;
  width: 10em;
  text-align: center;
  .icon {
    margin: 1em 0;
    font-size: 3em;
  }
  .base-label {
    font-weight: 500;
    padding: 0.5em 4px;
    color: #fff;
  }
  &::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    overflow: hidden;
    width: 0;
    height: 0;
    border: {
      style: solid;
      width: 0 20px 20px 0;
      color: transparent #fff #eee transparent
    }
  }
}

.config-workarea {
  min-height: 100vh;
  padding: 1em !important;
  background: #fff;
}

.config-container {
  height: 100%;
  .columns {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
  } 
}


.config-header {
  margin: 0 0 1em 0;
  border-bottom: 1px solid #eee;
  padding: 0.8em 0 20px 0;
  font-size: 1em;
  font-weight: bold;

  .icon {
    margin-right: 1em;
    float: left;
  }

}


.config-sidebar { 
  min-height: 100vh;
  position: relative;
  border-right: 1px solid #eee;
  .menu-label {
    margin: 0 !important;
  }

  .menu {
    font-size: 0.9rem !important;
    margin: 0 !important;
    .active {
      font-weight: bold;
    }
  }
}

.number-card {
  text-align: center;
  padding: 2em;
  .number-card-number {
    font-size: 3em;
    font-weight: bold;
  }

  number-card-title {
    color: #999;
    font-size: 90%;
    text-transform: uppercase;
  }
}

#loading {
  display: none;
  position: fixed;
  bottom: -6px;
  left: -20px;
  width: 120%;
  z-index: 99999999;
}

.organization-shortname {
  color: #000;
  font-weight: 500;
  font-size: 150%;
  display: block;
  padding-top: 0.4em;
}

.department-sidebar-title {
  color: #000;
  font-weight: bold;
  font-size: 85%;
  padding-bottom: 1em;
}