// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: #fcfcfc;
  font-size: 14px;
}

h1 a {
  color: #444;
}

.tabs-content li {
    display: none;
    list-style: none;
}

.tabs-content li.is-active {
    display: block;
}

#login-html {
  margin: 0;
  background: url(asset_path("bg.jpg"));
  background-size: cover;
}

#login-box {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #ddd;
  background: rgba(255,255,255,0.5);
  margin-top: 3em;
  padding: 2em;
  text-align: center;
  border-radius: 10px;
  img {
    width: 80%;
  }
  span {
    margin-left: 1em;
  }

  h1 {
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

.navbar {
  padding-bottom: 0 !important;
  height: 50px;
  margin: 0 !important;
}

.navbar-brand {
  padding: 0 1em;
  a:hover {
    background: none !important; 
  }
}

.nav-logo img {
  height: 50px;
}

.navbar-user-img {
  border-radius: 50%;
}

#home {
  padding-top: 2em;
}

.catalog {
  margin-top: 1em;

  nav {
    a {
      color: #000;
    }
    font-weight: bold;
    font-size: 1.2em;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
}


.product {
  margin-top: 1em;

  nav {
    a {
      color: #000;
    }
    font-weight: bold;
    font-size: 1.2em;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    margin: 1em 0 0.5em 0;
  }

  .media {
    padding: 0.5em !important;
  }

  .product-additional {
    h3 {
      font-size: 1em;
      font-weight: 500;
      border-bottom: 1px solid #ddd;
      margin: 0 0 0.5em 0;
    }

    .author-is {
      margin-bottom: 1em;
      border-bottom: 1px dotted #ddd;
      padding-bottom: 1em;
    }
  }

  .product-dates {
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin: 1em 0;
  }

  .abstract {
    font-size: 0.9em;
  }

  .product-status {
    text-align: center;
  }
}


.impact-factor-label {
  font-size: 0.6em;
  text-align: center;
}

.impact-factor-edit-link {
  font-size: 0.6em;
  text-align: center;
}

.impact-factor-value {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.profile-header {
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
  figure {
    text-align: center;
    margin: 0.5em auto;
  }
}

.profile-sidebar { 
  border-right: 1px solid #eee;
  .menu {
    font-size: 0.9rem !important;
  }
}

.profile-workarea {
  padding: 1em !important;
  background: #fff;
}

.profile-container {
  .columns {
    padding: 0 !important;
    margin: 0 !important;
  } 
}

.hero {
  margin: 0;
}

.hero-body {
  padding: 1em 1.5em !important;
}

.has-padding-1 {
  padding: 1em;
}

.has-padding-2 {
  padding: 2em;
}

.has-padding-3 {
  padding: 3em;
}

.products-header {
  margin: 0 0 1em 0;
  border-bottom: 1px solid #eee;
  padding: 0 0 1em 0;
}

.product-item {
  margin: 1em 0;
  border-bottom: 1px solid #eee;
  padding: 1em 0;
  strong a { 
    color: #000 !important;
  }
}

.product-index {
  h2 {
    font-size: 120%;
    font-weight: 500;
  }
}

.product-title {
  font-size: 130% !important;
  font-weight: 500;
}

.product-authors {
  font-size: 90%;
  color: #777;
  text-align: center;
}
.product-extra {
  font-size: 90%;
  color: #777;
  text-align: center;
}

#notification-area {
  margin: 1em;
  width: 30%;
  position:fixed;                  
  top:60px;                          
  right:0;                          
}

.empty-tab, .empty-results {
  color: #999;
  font-size: 90%;
  padding: 3em;
  text-align: center;
}

.participant-ui {
  .select {
    width: 100% !important;
  }
  select {
    width: 100% !important;
  }
  .participant-actions {
    text-align: right;
  }

  .participant-ui-item {
    border-bottom: 1px solid #eee;
    padding: 1em;
  }
}

#activity-log-ui {
  .activity-log-ui-item {
    border-bottom: 1px solid #eee;
    padding: 1em;
  }
}


.acknowledgment-ui {
  .select {
    width: 100% !important;
  }
  select {
    width: 100% !important;
  }
  .participant-actions {
    text-align: right;
  }

  .acknowledgement-ui-item {
    border-bottom: 1px solid #eee;
    padding: 1em;
  }

  .acknowledgment-notes {
    width: 50%;
  }
}


.product-filters {
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #ddd;
}

.product-actions {
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;

  nav {
    font-weight: bold;

    a { color: #333; }
  }

  .button {
    margin-left: 0.5em;
  }
}

.product-tabs {
  margin-top: 2em;
}

.product-file-box {
  select {
    width: 16em;
  }

  .box-control {
    margin-bottom: 1em !important;
    text-align: center;
  }
  .box-actions {
    text-align: center;
    margin: 2em 0 1em 0;
  }
}

#journal-list-select {
  height: 15em;
  overflow-y: auto;
}

.modal-card-body {
  margin: 0 !important;
  padding: 0 !important;
  .search-controls {
    padding: 1em;
    border-bottom: 1px solid #ddd;
  } 
}

.journal-list-item {
  padding: 1em;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  &:hover {
    background: #d9e7ff;
  }
}

.journal-data {
  padding-bottom: 1em;
}

.new-journal {
  padding: 1em 1em 3em 1em;
}
