// Place all the styles related to the JournalArticles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.journal-articles-extra {
  h2 {
    border-bottom: 1px solid #eee;
    margin-top: 1em;
    font-size: 1em;
  }
  table {
    margin-top: 1em;
    td {
      span { font-size: 90%; }
      small {font-size: 80%; display: block; }
      vertical-align: middle !important;
    }
  }
}
