// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-img {
  margin-right: 1em;	
}

.profile-workarea {
  padding: 2em 1em;
}

.profile-index {
  h1 {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
    padding: 0.5em 0;
    margin-bottom: 1em;
  }
}
