// Place all the styles related to the ProjectDocuments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$folder-color: #fffde7;
$folder-bg: #ffe082;

.project-documents-new-menu {
  .project-documents-new-menu-options {
    .icon {
      padding-right: 1em;
    }
  }
}

.document-link {
  color: #666 !important;
}

.card.document-item {
  
}

.document-item {
  position: relative;
  overflow: hidden;
  width: 200px;
  min-height: 200px;
  max-height: 200px;
  margin: 1em;
  float: left;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;

  .document-item {
    margin: 0 !important;
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    width: 77px !important;
    min-height: 80px !important;
    max-height: 80px !important;
    float: left;
    .document-item-title { 
      font-size: 60%;
    }
    img {
      max-height: 32px !important;
    }
    .document-item-header { 
      border-radius: 4px 4px 0 0 !important;
      height: 10px;
    }
    .document-item-title {
      margin: 0 !important;
      padding: 0 !important;
    }
    .document-item-content {
      margin: 4px !important;
      padding: 0 !important;
    }
  }
}


.documents-card-items {
  margin: 8px;
  .document-item {
    margin: 0 !important;
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    width: 77px !important;
    min-height: 80px !important;
    max-height: 80px !important;
    float: left;
    .document-item-title { 
      font-size: 60%;
    }
    img {
      max-height: 32px !important;
    }
    .document-item-header { 
      border-radius: 4px 4px 0 0 !important;
      height: 10px;
    }
    .document-item-title {
      margin: 0 !important;
      padding: 0 !important;
    }
    .document-item-content {
      margin: 0 !important;
      padding: 0 !important;
    }
    .document-item-title { 
      font-size: 60%;
    }
  }
}



.document-item-folder-new {
  cursor: default !important;
}

.document-item-folder-save {
  margin: 3em 1em 1em 1em;
  text-align: center;
  .button {
    margin-bottom: 1em;
  }

  .save-folder-button {
    border: 1px solid $folder-bg !important;
    background-color: $folder-bg !important;
  }
}

.document-item-header { 
  border-radius: 8px 8px 0 0;
  height: 1.5em;
}

.document-item-header-actions { 
  float: right;
  margin-right: 0.5em;
  .icon {
    margin-top: 2px;
  }
}

.documents-radio {
  td {
    padding-right: 2em;
  }
}

.document-item-title {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin: 0 0.5em;

  input {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    background-color: $folder-color;
    border: 0;
    &:focus{
      outline: none;
    }
  }
}

.document-item-content {
  margin: 0 0.5em 1em 1em;
}

.folder-header {
  background-color: $folder-bg;
  border-bottom: 1px solid $folder-color;
  margin-bottom: 1em;
  .icon {
    color: $folder-color;
  }
}

.folder-tab {
  border-radius: 8px 16px 0 0;
  background-color: $folder-color;

  width: 60%;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  float: left;
}

.document-item-folder {
  background-color: $folder-color;
  border: 1px solid $folder-bg !important;

  .document-item-title {
    margin-bottom: 1em;
  }
}

.document-show-upload {
  text-align: center;
  .document-show-upload-preview {
    text-align: center;
    img {
      max-height: 300px !important;
      border: 1px solid #eee;
    }
  }
  .document-show-upload-icon {
    img {
      max-height: 150px !important;
      border: 0 !important;
    }
  }
  .document-item-title {
    text-align: center;
  } 
  .document-show-upload-actions {
    text-align: center;
  }

  .notes {
    border-top: 1px solid #eee;
    margin-top: 2em;
    padding-top: 1em;
    text-align: left;
  }
}

.document-show-google {
  text-align: center;
  .document-item-title {
    text-align: center;
  } 
  .document-show-google-icon {
    img {
      max-height: 150px !important;
    }
  }
  .document-show-google-actions {
    text-align: center;
    margin-top: 1em;
  }
  .notes {
    margin-top: 2em;
    border-top: 1px solid #eee;
    padding-top: 1em;
    text-align: left;
  }
}

.folder-path {
  font-size: 80%;
  font-weight: bold !important;
  a { color: #666; }
  .icon {
    color: $folder-bg !important;
  }
}

.document-name {
  font-weight: bold;
  font-size: 2em;
}

.document-content {
  margin-top: 1em;
}

.document-item-content-upload {
  text-align: center;
  img {
    max-height: 120px !important;
  }
}

#google-icon {
  width: 100px !important;
}

.upload-preview-edit {
  img {
    width: 200px !important;
  }
}

.document-options {
  right: 14px;
  position: absolute;
}

.document-white-gradient {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 14px 0;   
  background-image: linear-gradient(to bottom, transparent, white);
}

.document-folder-gradient {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; 
  padding: 20px 0 8px 0;   
  background-image: linear-gradient(to bottom, transparent, $folder-color);
  font-size: 80% !important;
  color: darken($folder-bg, 40%);
}

.folder-tag {
  position: absolute;
  top: 2px;
  margin: 0;
  right: 12px;
  font-size: 70% !important;
  color: $folder-color;
  padding: 2px 4px 4px 4px;
  text-align: center;
  height: 16px;
  min-width: 16px;
  border-radius: 50%;
  display: inline-block;
  background-color: darken($folder-bg, 25%);
}

.document-extra {
  font-size: 80%;
  color: #666;
  margin-bottom: 2em;
}