// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$rainbow-1: #e53935;
$rainbow-2: #ff7043;
$rainbow-3: #ffab00;
$rainbow-4: #4caf50;
$rainbow-5: #00bcd4;
$rainbow-6: #9c27b0;
$rainbow-7: #ad1457;
$rainbow-8: #c51162;

.project-title {
  text-align: center;
  font-weight: 500 !important;
  font-size: 1.5em !important;
}

.project-cards-area {
  margin-top: 1em;
  .card {
    height: 250px;
    padding: 0 1em;
  }	
}

.project-menu-area {
  margin-top: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.project-menu {
  color: #666;
  padding: 1em 0;
  text-transform: uppercase;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 80%;
  text-align: center;
  margin: 0 4px;
  &:hover {
    color: #000;
    cursor: pointer;
  }
  &.active {
    color: #fff !important;
    font-weight: bold !important;
  }
}

.project-menu-informacion    { 
  border-top: 2px solid $rainbow-1; 
  &.active {
    background-color: lighten($rainbow-1, 10%);
  }
}
.project-menu-presupuesto    { 
  border-top: 2px solid $rainbow-2; 
  &.active {
    background-color: lighten($rainbow-2, 10%);
  }
}
.project-menu-mensajes       { 
  border-top: 2px solid $rainbow-3; 
  &.active {
    background-color: lighten($rainbow-3, 10%);
  }
}
.project-menu-tareas         { 
  border-top: 2px solid $rainbow-4; 
  &.active {
    background-color: lighten($rainbow-4, 10%);
  }
}
.project-menu-calendario { 
  border-top: 2px solid $rainbow-5; 
  &.active {
    background-color: lighten($rainbow-5, 10%);
  }
}
.project-menu-servicios      { 
  border-top: 2px solid $rainbow-6; 
  &.active {
    background-color: lighten($rainbow-6, 10%);
  }
}
.project-menu-participantes  { 
  border-top: 2px solid $rainbow-7; 
  &.active {
    background-color: lighten($rainbow-7, 10%);
  }
}
.project-menu-documentos     { 
  border-top: 2px solid $rainbow-8; 
  &.active {
    background-color: lighten($rainbow-8, 10%);
  }
}


.project-card {
  cursor: pointer;
  overflow: hidden;
}

.project-card-title {
  color: #000;
  font-weight: bold;
  font-size: 80%;
  text-align: center;
  padding: 1em 0;
  text-transform: uppercase;
}

.project-card-title-informacion    { border-bottom: 2px solid $rainbow-1; }
.project-card-title-presupuesto    { border-bottom: 2px solid $rainbow-2; }
.project-card-title-mensajes       { border-bottom: 2px solid $rainbow-3; }
.project-card-title-tareas         { border-bottom: 2px solid $rainbow-4; }
.project-card-title-calendario     { border-bottom: 2px solid $rainbow-5; }
.project-card-title-servicios      { border-bottom: 2px solid $rainbow-6; }
.project-card-title-participantes  { border-bottom: 2px solid $rainbow-7; }
.project-card-title-documentos     { border-bottom: 2px solid $rainbow-8; }

.empty-project-card {
  .project-card-icon {
    margin: 20px 0;
    text-align: center;
    font-size: 5em;
  }
  .empty-project-card-message {
    font-size: 80%;
    color: #666;
    text-align: center;
  }
}

.project-card-icon-informacion    { color: lighten($rainbow-1, 10); }
.project-card-icon-presupuesto    { color: lighten($rainbow-2, 10); }
.project-card-icon-mensajes       { color: lighten($rainbow-3, 10); }
.project-card-icon-tareas         { color: lighten($rainbow-4, 10); }
.project-card-icon-calendario     { color: lighten($rainbow-5, 10); }
.project-card-icon-servicios      { color: lighten($rainbow-6, 10); }
.project-card-icon-participantes  { color: lighten($rainbow-7, 10); }
.project-card-icon-documentos     { color: lighten($rainbow-8, 10); }


.project-edit {
	trix-editor {
		min-height: 200px !important;
	}
}

.project-card-content {
  margin-top: 1em;
}

.project-tab-title {
  font-weight: bold;
  font-size: 1.4em;
}

.message-title-header {

}

.message-title {
  font-size: 1.1em;
}

.message-item {
  cursor: pointer;
}

.message-meta {
  color: #607d8b;
}

.message-admin-item {
  font-size: 90%;
  padding: 0 !important;
  margin: 0 !important;
}

.participant-admin-item {
  font-size: 90%;
  padding: 0 !important;
  margin: 0 !important;
}

.project-actions {
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
  margin-bottom: 0.5em !important;
  .button {
    margin-left: 0.5em;
  }
}

.message-author {
  margin-bottom: 1em;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #eee;
}

.message-extra {
  float: right;
  margin: 4px 0 0 0;
  color: #666;
  font-size: 80%;
  figure {
    float: left;
    margin-right: 4px;
  }
}

.participant-actions {
  a {
    padding-right: 1em;
  }
}

.project-card-table {
  width: 100%;
  
  tr {
    font-size: 80%;
    
  }

  td {
    padding: 4px !important;
    margin: 0 !important;
  }

  .td-small {
    width: 10px !important;
    text-align: center;
    figure {
      margin: 0;
      padding: 0;
    }
  }
  
  .depth-0 { padding-left: 0 !important; }
  .depth-1 { padding-left: 1em!important; }
  .depth-2 { padding-left: 2em !important; }
  .depth-3 { padding-left: 3em !important; }
  .depth-4 { padding-left: 4em !important; }
  .depth-5 { padding-left: 5em !important; }
  .depth-6 { padding-left: 6em !important; } 
}

.status-menu {
  text-align: center;
}

.change-status-title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 1.5em;
  .tag {
    font-size: 1em !important;
  }
  margin-bottom: 1em;
}

.project-status-header {
  float: right;
  position: relative;
}

.project-fields {
  .column {
    padding-left: 0 !important;
    padding-right: 2em;
    padding-bottom: 0 !important;
  }
}