// Place all the styles related to the Prospects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prospect-department-table {
  border: 1px solid #ddd;
  figure {
    float: left;
  }
  .no-suggestions {
    text-align: center;
    color: #999;
    vertical-align: middle;
  }
  th {
    text-align: left !important;
  }

  tr.department-row {
    td {
      border-top: 1px solid #ddd;
    }
  }
  .department-cell {
    border-right: 1px solid #bbb;
  }
  .figure-cell {
    margin: 0 !important;
    padding: 0.5em 0 0 0.5em !important;
  }
}

.prospect-proposal {
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fafafa;
  margin-top: 1em;
  margin-bottom: 1em;
  .button-add-cell {
    border-left: 1px dashed #ddd;
    button {
      width: 100%;
      height: 100%;
    }
  }
  table {
    background: transparent;
  }
  th, td {
    vertical-align: middle !important;
    border-bottom: 0 !important;
    .control {
      width: 100%;
      .select {
      }
    }
  }
}
