// Place all the styles related to the SimpleCrud controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.crud-index {
  .product-actions {
    margin-bottom: 0 !important;
  }
}

.crud-index {
  .level-right {
    width: 80%;
  }
}
.crud-filters {
  width: 100%;
  text-align: right;
  input {
    width: 30%;
    margin-left: 1em;
  }	
}

.crud-index-header {
  font-size: 90%;
  border-bottom: 1px solid #ddd;
}
 
.crud-table {
  font-size: 90%;
  th {
    white-space: pre;
  }
  .crud-td {
      cursor: pointer;
  }
}

.crud-pagination {
  .crud-goto .icon {
    color: #888;
  }
  .dropdown {
    cursor: pointer;
  }
  .dropdown-menu {
    min-width: 6em;
  }
  .icon {
    border-radius: 50%;
    padding: 8px;
    &:hover {
      background: #eee;
    }
  }
}

.crud-actions {
  width: 8em;
  min-width: 8em;
  text-align: right; 
  .icon {
    padding-right: 2em;
  }
}

.crud-container {
  margin-top: 1em !important;
  #crud-index-table {
    margin-top: 1em;
    padding: 0em;
  }
}