<div id="new-folder"></div>
<% 
  if params['orden'] == 'nombre' 
    documents_order = 'name' 
  elsif params['orden'] == 'modificacion' 
    documents_order = 'updated_at DESC' 
  else
    documents_order = 'created_at DESC'
  end
%>

<div class="project-documents-list">
<% project.project_documents.where("parent = ? AND status = ?", parent_id, ProjectDocument::ACTIVE).order(documents_order).each do |document| %>
  <a class="document-link" href="<%= project_project_document_path(person.shortname, project, document) %>">
    <%= render 'document_item', document: document, level: 1  %>
  </a>
<% end %>
<div class="is-clearfix"></div>
</div>
<div class="is-clearfix"></div>