<aside class="menu">
  <p class="menu-label">
    Investigacion
  </p>
  <ul class="menu-list">
    <li class="li-proyectos"><a>Proyectos</a></li>
	  <li class="li-articulos-en-revistas"><%= link_to "Artículos en Revistas", journal_articles_path(person.shortname) %></li>
	  <li class="li-articulos-en-conferencias"><%= link_to "Artículos en Conferencias", conference_papers_path(person.shortname) %></li>
	  <li class="li-divulgacion"><a>Divulgación</a></li>
	  <li class="li-libros"><%= link_to "Libros y capítulos", books_path(person.shortname) %></li>
	  <li class="li-trabajos"><a>Trabajos</a></li>
	  <li class="li-patentes"><a>Patentes</a></li>
	  <li class="li-conferencias-por-invitacion"><a>Conferencias por Invitación</a></li>
	  <li class="li-asociaciones"><a>Asociaciones</a></li>
	  <li class="li-redes"><a>Redes</a></li>
	  <li class="li-reconocimientos"><a>Reconocimientos</a></li>
	  <li class="li-organizador-de-eventos"><a>Organizador de Eventos</a></li>
	  <li class="li-arbitro-evaluador"><a>Arbitro / Evaluador</a></li>
	  <li class="li-actividades-relevantes"><a>Actividades Relevantes</a></li>
  </ul>
  <p class="menu-label">
    Posgrado
  </p>
  <ul class="menu-list">
    <li class="li-posgrado-en-curso"><a>En Curso</a></li>
    <li class="li-posgrado-graduados"><a>Graduados</a></li>
  </ul>
  <p class="menu-label">
    Vinculación
  </p>
  <ul class="menu-list">
    <li class="li-vinculacion"><a>Ingresos</a></li>
  </ul>
  <p class="menu-label">
    Trabajo Interno
  </p>
  <ul class="menu-list">
    <li class="li-servicios-laboratorio"><a>Servicios de Laboratorio</a></li>
    <li class="li-grupos"><a>Brigadas y grupos</a></li>
    <li class="li-calidad"><a>Calidad</a></li>
  </ul>
</aside>