<% active_acknowledgments = product.acknowledgments.where(status: Acknowledgment::ACTIVE) %>
<% if active_acknowledgments.count > 0 %>
  <h2>Agradecimientos</h2>
  <% active_acknowledgments.each do |acknowledgment| %>

    <article class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img class="is-rounded" src="<%= acknowledgment.person.display_url rescue '' %>">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">  
            <strong><%= acknowledgment.person.full_name %></strong><br>
            <span class="tag is-light"><%= acknowledgment.person.person_type.name rescue '-' %></span> 
            <% if !acknowledgment.notes.blank? %>
              <small><%= acknowledgment.notes %></small>
            <% end %>
        </div>
        
      </div>
    </article>

  <% end %>
<% end %>