<div class="container catalog">
<div class="level">
  <div class="level-left">
  	<nav class="breadcrumb" aria-label="breadcrumbs">
  		<ul>
  			<li><%= link_to 'Configuración', config_path %></li>
  			<li><%= link_to 'Índices', indexers_path %></li>
  			<li class="is-active"><a>Editar</a></li>
  		</ul>
  	</nav>
  </div>
</div>

<%= render 'form', indexer: @indexer %>

</div>
